body {
    background-image: url(eo.jpg);
    font-family:Calibri,'Times New Roman';
}
#form1 {background-color:lightslategrey;
        width:auto;
         margin:auto;
         padding-bottom:10px;
         padding-left:10px;
         padding-right:10px;
         padding-top:10px;
         border-left: solid 15px black; 
         border-right: solid 15px black;
         border-top: solid 15px black; 
         border-bottom: solid 15px black; 
}

#loanGridView {width:auto;
               margin:5px 0 10px 0;
               border:solid 1px #525252;
               border-collapse : collapse;
               text-align:center;
               font-family: 'Trebuchet MS';

               
}



    #loanGridView .Row:hover {background-color:ghostwhite;
    }

    #loanGridView .alt:hover {background-color:ghostwhite;
    }
    #loanGridView .Row{background-color:#DCFA70;
    }

    /*#loanGridView .alt {background-color:#689CD2;
    }*/